@inject AuthService AuthService
@inject NavigationManager Navigation

<nav class="navbar">
    <div class="nav-item px-3">
        <NavLink class="nav-link" href="/">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 🏠 Начало @(userRole)
        </NavLink>
    </div>

    @if (isAuthenticated)
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/weather">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/users">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 👤 Потребители
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/logout">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 🚪 Изход
            </NavLink>
        </div>
        @if (userRole == "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/admin">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> ⚙️ Админ
                </NavLink>
            </div>
        }
    }
    else
    {
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/login">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> 🔑 Вход
            </NavLink>
        </div>
    }
</nav>

@code {
    private bool isAuthenticated;
    private string userRole;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await AuthService.IsUserAuthenticated();
        userRole = await AuthService.GetUserRole();
        AuthService.OnAuthStateChanged += UpdateAuthState;
    }

    private async void UpdateAuthState()
    {
        isAuthenticated = await AuthService.IsUserAuthenticated();
        userRole = await AuthService.GetUserRole();
        StateHasChanged();
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= UpdateAuthState;
    }
}
